apiVersion: v1
kind: Service
metadata:
  name: llamastack
  namespace: llamastack
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8321
      targetPort: 8321
  selector:
    app: llamastack
