apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: assistant-argocd-config
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/KubeCraftsMan/kubernetes.git
    targetRevision: HEAD
    path: argocd/assistant-argocd-config
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
